.HeroContain {
    background: linear-gradient(to right, var(--color1), var(--color3));
    height: 100vh;
    margin: auto;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
    place-content: center;
    padding: 100px 10%;
    align-items: center;
    padding-top: 30vh;
    transition: 0.3s ease all;
  
}

.button{
    background-color: var(--blanco);
    border: none;
    padding: 0px 10px 0px 17px;
    border-radius: 30rem;
    display: flex;
    align-items: center;
    width: 13rem;
    height: 3rem;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s ease all;
    font-size: 15px;
    margin-top: 1rem;
}

.button:hover{
    background: linear-gradient(to right, var(--color1), var(--color3));
    border: 1px solid var(--blanco);
    width: 13.4rem;
    transition: 0.3s ease all;
}
.button:hover .icon{
    background-color: var(--text-color);
    transition: 0.3s ease all;

}
.button:hover {
    color:var(--blanco);
    transition: 0.3s ease all;
}

.HeroText{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: 0.3s ease all;
}
.HeroText h1{
    font-size: 70px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: var(--blanco);
    transition: 0.3s ease all;
    margin-bottom: 2rem;
}
.HeroText p{
    
   
    font-family: "Poppins", sans-serif;
    color: var(--blanco);
}
.HeroImg{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@media (max-width: 1024px){
    .HeroContain {

        height: 100%;
        padding: 100px 10%;

    }
    .HeroImg img{
        width: 100%;
        object-fit: cover;
    }
}