.PortfolioContain {
    height: 100%;
    text-align: center;
    padding: 100px 10%;
}

.PortfolioContain h1{
    font-size: 60px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    transition: 0.3s ease all;
  
   }
   .PortfolioContain p{
    color: var(--text-color2);
    padding-top: 2rem;
   }

   .porftolioImgGrid{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding-top: 50px;

   }

   .porftolioImgGrid img{
     width: 100%;
     height: 200px;
     margin-top: 10px;
     transition: transform 0.3s, filter 0.3s;
     cursor: pointer;
   }

   .card{
      width: 310px;
      height: 200px;
      background: linear-gradient(to right, var(--color1), var(--color3));
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.152);
}

   .card p{
    display: none;
    transition: 0.3s ease all;
}

   .card:hover p{
    display: flex;
    position: absolute;
    z-index: 2;
    text-align: center;
    justify-content: center;
    color: var(--blanco);
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.659);
    background: linear-gradient(to right, var(--color1), var(--color3));
    align-items: center;
    padding: 10px;
    border-radius:7px ;
    cursor: pointer;
    transition: 0.3s ease all;
}
   .card:hover img{
    transform: scale(1.05); /* Zoom in */
    filter: grayscale(70%);
    transition: transform 0.3s, filter 0.3s;
 
   }

   
   .bg-red {
    background: linear-gradient(to right, var(--color1), var(--color3));
    cursor: pointer;
    border: 1px solid var(--color1);
    padding: 6px 20px;
    transition: 0.3s ease all;
    border-radius: 7px;
    color: var(--blanco);
   
}
  

  .input{
    background-color: transparent;
    border: 1px solid var(--color1);
    padding: 6px 20px;
    cursor: pointer;
    transition: 0.3s ease all;
    border-radius: 7px;
}
  .input:hover{
    background: linear-gradient(to right, var(--color1), var(--color3));
    cursor: pointer;
    transition: 0.3s ease all;
    color: var(--blanco);
}


  .filtroCategoria{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }

  .filtroCategoria input{
    width: 1px;
  }

  @media (max-width: 900px){
    .filtroCategoria{
        overflow-x: scroll;
        padding-left: 4rem;
    }
    .PortfolioContain {
      
        padding: 100px 5%;
    }
  }