.Subrayado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    place-content: center;
    align-content: center;
    padding-top: 10px;

}

.Subrayado hr{
    background-color: aqua;
    border: 1px solid var(--color1);
    width: 200px;
    border-radius: 0px 0px 10px 10px;

}

.Subrayado span{
    background-color:var(--color1);
    width: 70px;
    height: 5px;
    border-radius: 0px 0px 10px 10px;
  
}

