.ServiciosContain {
    padding: 60px 10% ;
    height: 40vh;
    
}
.ServiciosContain h1{
    font-size: 40px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    transition: 0.3s ease all;
    text-align: center;
}
.ServiciosText{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 4rem;
    padding-top: 60px;
    text-align: center;
}

.ServiciosText p{
    color: var(--text-color2);
    font-size: 15px;
}


@media (max-width: 700px) {
    .ServiciosText{
        flex-wrap: wrap;
        text-align: center;
        gap: 1rem;
    }

    .ServiciosText hr{
        border: 1px solid #0000002c;
        width: 100%;
    }
    .ServiciosContain {
        padding: 0px 5% 60px;
        height: 100%;
    }
}