
.TestimoniosConatin{
  background: linear-gradient(to right, var(--color1), var(--color3));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     align-self: center;
     place-content: center;
     flex-direction: column;
     padding: 100px 10%;
 }
 .TestimoniosConatin h1{
  font-size: 60px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: var(--blanco);
  transition: 0.3s ease all;
  margin-bottom: 2rem;
 }

 .bgTextimonial{
  background-color: rgba(240, 248, 255, 0.716);
  border-radius: 7px;
  display: flex;
  gap: 2rem;
  padding: 40px;
  height: 20vh;
  color: #130707f5;
}
 
.scrolled3{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
 

 text-align: center;
 color: var(--blanco);
}

.iconTestimonios{
  color: var(--color1);
  font-size: 19px;
}
 #swiper_container2 {
     height: 100vh;
     width: 100%;
     transition: all 0.25s;
     display: flex;
     justify-content: center;
     align-items: center;
     align-self: center;
     place-content: center;
     flex-direction: column;
    
   }
   #swiper_container2 img{
      width: 5rem;
      height: 5rem;
      object-fit: cover;
      border-radius:100%;
      transition: all 0.25s;
      margin-top: -2rem;
      border: 5px solid var(--color1);
 }
 #SwiperSlide2{
     width: 100% !important;
     display: flex!important;
     align-items: center!important;
     justify-content: center!important;
     align-content: center!important;
     transition: all 0.25s;
   }
   #swiper_container2 a{
    text-decoration: none;
    color: var(--blanco);
   }
 
   @media (max-width: 900px) {
     
  #swiper_container2 {
    
     width: 100%;
  
   }
   #SwiperSlide2{
    width: 24rem !important;
   }
 
   #swiper_container2 img{
     width: 4rem;
     height: 4rem;
 }
 
 
 .card-scroll2 {
 
    padding: 0px 10%;
   
 }

 .bgTextimonial{

  gap: 1rem;
  height: 100%;

}

.TestimoniosConatin{
  
     padding: 100px 5%;
 }
 .TestimoniosConatin h1{
  font-size: 40px;
 
 }
 
   }
 
  